@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Parkinsans:wght@300..800&family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff989895, #fbfafa, #4cd2ff94);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-items: center;
    /* gap: 2; */
    width: 90%;
    /* background-color: antiquewhite; */
}
.card-list{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.card-wrapper .card-item{
    min-height: 300px;
    max-width: 220px;
    border-radius: 6px;
    background:linear-gradient(135deg, #65fff2, #fcc6f5, #4cd2ff94);
    box-shadow: 0 0 10px black;
    list-style: none;
}
.card-link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.card-link img{
    object-fit: contain;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.card-link div{
    margin: 16px 10px; 
}
.card-item div p{
    color: #000000;
    font-weight: 600;
}
.card-item div p:nth-child(even){
    font-size: 12px;
    color: #990101;
    font-weight: 600;
}

